<!DOCTYPE html>

<html>
    <head>
        <title>SpotifyU</title>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1">

        <link rel="icon" href="{{ url_for('static', filename='img/cs.ico') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">

    </head>

    

    <body>

    <main role="main" class="container extra-bottom" style="text-align: left;">
      <h1 class="mt-5"> SpotifyU</h1>
      <p><mark style="background-color: #1DB954; color: white; border-radius: 3px;">Home Page</mark></p>
      
    </main>
    <div class = "form-group">
        <form action="/album" method="POST"  style="width:22%">
            <button type="submit">Albums</button>
        </form>
        <form action="/artist" method="POST" style="width:22%" >
            <button type="submit">Artists</button>
        </form>
        <form action="/song" method="POST"  style="width:22%">
            <button type="submit" >Songs</button>
        </form>
        <form action="/genre" method="POST" style="width:22%">
            <button type="submit">Genres</button>
        </form>
    </div>

    <div class="container" style="min-width: 1000px !important;">    
        
        <!-- Button trigger modal -->
        <div class="container table-responsive" style="min-width: 1000px !important;">
            <table class="table">
                <h4>Top Artists (Recent): </h4> 
                <thead>
                <tr>
                    <th class="song_id"></th>
                    <th class="song_name">Name</th>
                    <th class="release">Genres</th>
                </tr>
                </thead>
        
                <tbody>
                {% for artist in artists %}
                    <tr>
                        <td><img src={{artist.img}} height=75 width=75></img></td>
                        <td>{{artist.name}}</td>
                        <td>{{artist.genres}}</td>
                    </tr>
                {% endfor %}
                
                </tbody>
            </table>
            <table class="table">
                <h4>Top Tracks (Recent): </h4> 
                <thead>
                <tr>
                    <th class="song_id"></th>
                    <th class="song_name">Track</th>
                    <th class="release">Artists</th>
                    <th class="album_id">Album</th>
                </tr>
                </thead>
        
                <tbody>
                {% for item in items %}
                    <tr>
                        <td><img src={{item.img}} height=75 width=75></img></td>
                        <td>{{item.song_name}}</td>
                        <td>{{item.artist_name}}</td>
                        <td>{{item.album_name}}</td>
                    </tr>
                {% endfor %}
                
                </tbody>
            </table>
        </div>

    <footer class="footer">
      <div class="container">
            <p class="text-muted"><small>SpotifyU</small></p>
      </div>
    </footer>
  </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script/modal.js') }}"></script>

</html>