<!DOCTYPE html>
<html>
<body style="font-size: x-large; text-align: center; font-family: 'proxima-nova', sans-serif;">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">

<h1 style="text-align: center; font-family: 'proxima-nova', sans-serif;">SpotifyU</h1>
<body style="font-weight: bold;">Welcome to SpotifyU! <br>Before we get started, we would need your authentication.</body>

<h2><a href="{{url}}/" style="color:#1DB954">Click Here!</a></h2>
</body>
</html>


